# Java / Spring Boot
/Backend/employeeApp/target/
*.class
*.log
*.tmp
*.iml

# Eclipse / IntelliJ
*.project
*.classpath
/.metadata/
/.idea/
/.vscode/

# React / Node
/Frontend/node_modules/
/Frontend/build/
